@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #BCDEFB;
  //background-color: #E1EFFD;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h1,h2, h3 {
  font-weight: 700;
  color: #08589CFF;
  //font-family:'Luminari', fantasy;
  //font-family: 'Arial Black', Gadget, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

TextArea {
  font-family: 'Arial', Gadget, sans-serif;
  color: black;
  font-size: 1rem;
  background-color: #f0f7ff;
  border: thin solid #0f3f6b;
}

Input {
  background-color: #f0f7ff;
  border: thin solid #0f3f6b;

}

p {
  color: #08589CFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

select {
  font-size: 1rem;
  color: #333;
  background-color: #f0f7ff;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

option {
  font-weight: normal;
  color: #333333;
  background-color: #ffffff;
  padding: 5px 0;
}
